# Louisville Free Public Library

Analysis of Louisville Free Public Library collection inventory.

Data Source: [Louisville Metro Open Data](https://data.louisvilleky.gov/datasets/LOJIC::louisville-metro-ky-library-collection-inventory-/about)

## Data Dictionary

- **BibNum** - The unique identifier of a bibliographic record within our materials database. Materials with the same bibliographic # will generally have the same cataloging metadata, differing only in the barcode number, assigned location and anything else specific to the individual copy.
- **Title** - The name of the material.
- **Author** - The writer or creator of the material.
- **ISBN** - The International Standard Book Number is a numeric commercial book identifier that is intended to be unique. Publishers purchase ISBNs from an affiliate of the International ISBN Agency. An ISBN is assigned to each separate edition and variation of a publication. 
- **Publication Year** - The year that the material was originally published.
- **Item Type** - Describes the type of material of each item, including Books, Audiobooks, Serials, DVDs, Microforms, Three Dimensional Objects, Kits, and Printed Cartographic Materials. 
- **Item Collection** - Refers to the collection the material belongs to based on common themes, including but not limited to Adult Fiction, Adult Reference, Mystery, Children’s Fiction, etc.  
- **Item Location** - The library location where the material was assigned at the time the report was run.
- **Item Price** – The price, in USD, that LFPL purchased the material for. 
Remember, this text is in markdown format, which follows certain HTML rules

# Data Set Exploration

In [1]:
import pandas as pd 

books_df = pd.read_csv('books.csv.gz')
books_df.columns

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate'],
      dtype='object')

In [2]:
books_df.shape

(1190176, 10)

In [3]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190176 entries, 0 to 1190175
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BibNum           1190176 non-null  int64
 1   Title            1190175 non-null  object
 2   Author           1124225 non-null  object
 3   ISBN             1153891 non-null  float64
 4   PublicationYear  1190176 non-null  int64
 5   ItemType         1190176 non-null  object
 6   ItemCollection   1190036 non-null  object
 7   ItemLocation     1190176 non-null  object
 8   ItemPrice        1190176 non-null  float64
 9   ReportDate       1190176 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 90.8+ MB

In [4]:
books_df.isnull().sum().sort_values(ascending=False)

Author             65951
ISBN               36285
ItemCollection       140
Title                  1
BibNum                 0
PublicationYear        0
ItemType               0
ItemLocation           0
ItemPrice              0
ReportDate             0
dtype: int64

In [5]:
books_df.head()
#you can input a number in the parenthesis to specify how many rows you want

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,02/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00

In [6]:
books_df
#jupyter notebook has this command that will show the first 5 and last 5 rows

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,02/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1190171,2608597,25 ready-to-use sustainable living programs fo...,NaN,9.780839e+12,2022,Book,Adult Non-Fiction,South Central,63.69,02/01/2023 00:00:00
1190172,2608598,Crypto basics : a nontechnical introduction to...,"Gomzin, Slava",9.781484e+12,2022,Book,Adult Non-Fiction,Bon Air,30.09,02/01/2023 00:00:00
1190173,2608598,Crypto basics : a nontechnical introduction to...,"Gomzin, Slava",9.781484e+12,2022,Book,Adult Non-Fiction,Newburg,30.09,02/01/2023 00:00:00
1190174,2608599,Data governance,"Reichental, Jonathan",9.781120e+12,2023,Book,Adult Non-Fiction,Main,24.34,02/01/2023 00:00:00
1190175,2608599,Data governance,"Reichental, Jonathan",9.781120e+12,2023,Book,Adult Non-Fiction,St Matthews,24.34,02/01/2023 00:00:00

## Column Analysis

In [7]:
books_df['ItemCollection'].unique()

array(['Adult Non-Fiction', 'Adult Fiction', 'Mystery',
       'Older Teen Fiction', 'Younger Teen  Fiction', 'Adult Paperback',
       'Science Fiction', "Children's Fiction", 'Western',
       "Children's Picture Paperback", "Children's Paperback",
       "Children's Picture Book", 'International Collection',
       'ELL Collection', 'Teen Non-Fiction', "Children's Non-Fiction",
       'Holiday', 'Natural Resources', 'Kentucky History', 'Oversize',
       'Urban Fiction', 'Bestsellers', 'Storytime Collection',
       "Children's Board Book", "Children's Easy Reader",
       'Preschool  Picture Book', 'Adult Reference', 'Interlibrary Loan',
       nan, 'Adult Paperbacks Tall', "Children's Easy Reader Paperback",
       'Caldecott/Newbery', 'Laptop', 'Government Documents',
       'Large Print', 'Telereference', "Children's Non-Fiction Paperback",
       'Big Book', "Children's Reference", 'Teen Reference',
       'College Shop', 'Magazines and Newspaper',
       'Younger Teen  Paperback', 'Younger Teen  Audiobook', 'Readalongs',
       'Listening Device', 'Adult Audiobook', 'Electronic',
       "Children's Music", 'Adult DVD', 'Music', 'Book Discussion Kit'],
      dtype=object)

In [9]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
books_df['ItemPrice'].describe()

count   1190176.00
mean         18.45
std          16.00
min           0.00
25%          10.95
50%          15.99
75%          24.95
max        1077.00
Name: ItemPrice, dtype: float64